@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --font-titulo: "Audiowide", sans-serif;
    --font-padrao: "Space Mono", monospace;

    --color-1: hsl(199, 100%, 11%);
    --color-2: #0085C2;
    --color-3: #005176;
    --color-4: #005A83;
    --color-5: #003F5C;

}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to left, #003F5C, #002536);
    background-size: 100wv;
}


header {
    background-color: var(--color-3);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.719);
    padding: 20px;

    h1 {
        font-size: 6vw;
        color: white;
        font-family: var(--font-titulo);
        text-align: center;
        padding-top: 20px;
        letter-spacing: 0.2em;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.584);
    }

    h2 {
        font-family: var(--font-padrao);
        text-align: center;
        color: white;
        font-size: 4vw;
        padding-bottom: 20px;
    }

    h4 {
        font-family: var(--font-padrao);
        padding-bottom: 5px;
        font-size: 3vw;
        color: white;
    }

    ul {
        font-family: var(--font-padrao);
        padding-bottom: 10px;
        color: white;
        padding-left: 20px;
        font-size: 0.6em;

        li {
            padding-left: 10px;
            line-height: 2em;
            text-align: justify;
            padding-bottom: 10px;
        }
    }

}

.cap22 {
    padding: 30px;


    h4 {
        font-family: var(--font-titulo);
        font-family: var(--font-padrao);
        padding-bottom: 5px;
        font-size: 3.7vw;
        color: white;
        text-align: center;
        padding: 10px;
        background-color: #0085c282;
        width: 100%;
    }

    p {
        font-family: var(--font-padrao);
        color: white;
        font-size: 0.8em;
        text-align: justify;
        line-height: 2em;
        text-indent: 15px;
        margin-bottom: 20px;
    }

    mark {
        background-color: var(--color-2);
        padding: 1px;
        border-radius: 2px;
        font-weight: bolder;
    }

    #tela {
        width: 300px;
        display: flex;
        margin: auto;
        height: 200px;
        border: solid 1px black;
        background-color: white;
    }

    a {
        color: white;
        padding: 20px;
        text-decoration: none;
        font-family: var(--font-padrao);
        padding-bottom: 20px;
        text-align: center;
        font-size: 0.8em;
    }

    a:hover {
        text-decoration: underline;
    }
}

.cap23 {
    padding: 20px;

    h4 {
        font-family: var(--font-titulo);
        font-family: var(--font-padrao);
        padding-bottom: 5px;
        font-size: 3.7vw;
        color: white;
        text-align: center;
        padding: 10px;
        background-color: #0085c282;
        width: 100%;
    }

    h5 {
        font-family: var(--font-titulo);
        font-family: var(--font-padrao);
        padding-bottom: 5px;
        font-size: 2.6vw;
        color: white;
        text-align: center;
        padding-bottom: 20px;
    }

    p {
        font-family: var(--font-padrao);
        color: white;
        font-size: 0.8em;
        text-align: justify;
        line-height: 2em;
        text-indent: 15px;
        margin-bottom: 20px;

    }
}

#projeto23 {
    width: 90vw;
    height: 800px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0);
    margin: auto;
}

#p-do-projeto {
    padding: 20px;
    font-family: var(--font-padrao);
    color: white;
    font-size: 0.8em;
    text-align: justify;
    line-height: 2em;
    text-indent: 15px;
    margin-bottom: 20px;
}


.cap24 {
    padding: 20px;

    h4 {
        font-family: var(--font-titulo);
        font-family: var(--font-padrao);
        padding-bottom: 5px;
        font-size: 3.7vw;
        color: white;
        text-align: center;
      
        background-color: #0085c282;
        width: 100%;
        padding: 10px;
    }

    p {
        font-family: var(--font-padrao);
        color: white;
        font-size: 0.8em;
        text-align: justify;
        line-height: 2em;
        text-indent: 15px;
        margin-bottom: 20px;

    }

    mark {
        background-color: var(--color-2);
        padding: 1px;
        border-radius: 2px;
        font-weight: bolder;

    }
}


.cap25{
    padding: 20px;

    h4 {
        font-family: var(--font-titulo);
        font-family: var(--font-padrao);
        padding-bottom: 5px;
        font-size: 3.7vw;
        color: white;
        text-align: center;
 
        background-color: #0085c282;
        width: 100%;
        padding: 10px;
    }

    p {
        font-family: var(--font-padrao);
        color: white;
        font-size: 0.8em;
        text-align: justify;
        line-height: 2em;
        text-indent: 15px;
        margin-bottom: 20px;

    }

    mark {
        background-color: var(--color-2);
        padding: 1px;
        border-radius: 2px;
        font-weight: bolder;

    }
}